h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ip
{
    width: 40px;
}

#gerateHinzufuegen
{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#geraeteArt
{
    margin-left: 75px;
    width: 205px;
}

#ip
{
    margin-left: 125px;
}
#name
{
    margin-left: 100px;
    width: 205px;
}

#standort
{
    margin-left: 85px;
    width: 205px;
}
#senden
{
    margin-left: 145px;
}

form
{
    width: 50%;
}

#senden
{
    margin-left: 180px;
}


