/* Dropdown Button */
#Button_dropdown {
    padding: 6px;
    font-size: 10px;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
#Button_dropdown:hover, #Button_dropdown:focus {
    background-color: #becbc2;
}

/* Buttons on the bottom */
#bottombuttons{
    padding-top: 100px;
}

/* Dropdown section */
.Dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content hidden */
.Dropdown_hide {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.Dropdown_hide a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* dropdown links on hover */
.Dropdown_hide a:hover {background-color: #ddd}

/* Show the dropdown menu */
.Dropdown_show {display:block;}

/* status info */
.device_status {
    padding: 15px;
    background-color: darkgrey;
}

/* status info */
.device_status_on {
    background-color: darkgreen;
}

#devices {
    height: auto;
    float: top;
}

#devices_list tr td{
    padding-left: 20px;
}

/* Position of the listitems */
.devices_checkbox{
    left:inherit;
}
.devices_name{
    left: inherit;
}
.devices_ort{
    left:inherit;
}
.device_status_off, device_status_on{
    left: inherit;
}
.devices_Dropdown{
    left: inherit;
}