body {
    /* Add some spacing for the sticky navbar */
    padding-top: 50px;
    padding-bottom: 30px;
}

form {
    max-width: 500px;
    margin: auto;
}

.navbar-logo {
    padding: 10px 15px;
    line-height: 30px;
}

.navbar-logo > img {
    display: inline-block;
    float: none;
    height: 30px;
    margin-right: 10px;
    vertical-align: bottom;
}

.navbar-nav .left-separated {
    border-left: 1px solid #D2D2D2;
}

.teaser {
    /* teaser should cover 100% of the vertical height minus the sticky header */
    height: calc(100vh - 50px);
    background: transparent url(../img/header-bg.jpg) no-repeat left top;
    background-size: cover;
    padding: 100px;
    text-align: right;
    position: relative;
}

.teaser h1 {
    width: 100%;
    position: absolute;
    right: 50%;
    bottom: 100px;
    margin-right: -40%;
    color: white;
    font-size: 5em;
}

.teaser h1 small {
    display: block;
    color: #e3e3e3;
}

.talk-info {
    font-weight: bold;
    margin-bottom: .25em;
}

.categories {
    margin-bottom: .25em;
}

.category {
    font-size: 90%;
}

.talk-list-date {
    display: block;
    min-width: 90px;
    background: #e2e2e2;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
